body{
    background-color: hsl(223, 93%, 78%);
}
main{
    border: 2px solid green;
}
.calculator{
    outline: 2px solid red;
    border-radius: 2%;
    box-shadow: 0rem 0.5rem 0.5rem 0rem #bdf6fe;
    height: 600px;
    background: linear-gradient(#BDF6FE, hsl(200, 12%, 95%));
}
#result{
    outline: 2px solid red;
    height: 5.8rem;
    margin-top: 10px;
}
#history{
    text-align: right;
    font-size: 25px;
    color: #a9adb0;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0rem 0.8rem;
}
#output{
    text-align: right;
    font-size: 30px;
    font-weight: 800;
    margin-top: -10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0rem 0.8rem;
}
#keyboard{
    margin-top: 0.5rem;
    outline: 2px solid blue;
    height: 30rem;
}